@{
	ViewData["Title"] = "WebApp Gestion de Imagenes";
}

<h1>@ViewData["Title"]</h1>
<hr />
<br />
<h2>Selecciona una opción:</h2>
<br />

<div class="container">
	<div class="row">
		<div class="col">
			<a asp-controller="Imagen" asp-action="SubirImagen" class="btn btn-primary w-100">
				Subir Imágenes
			</a>
		</div>
		<div class="col">
			<a asp-controller="Imagen" asp-action="ListarImagen" class="btn btn-primary w-100">
				Ver Lista de Imagenes
			</a>
		</div>
	</div>
</div>
